h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:130px;
    color: blueviolet;
    animation: move 1s infinite alternate
    
}

@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100px);
    }
} 

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size:200px;
    color:orange;
}